
@model ClothStore.App.Models.ProductListModel


@{
    ViewBag.Title = "Products";
}
@foreach (var p in Model.ProductList)
{
    @Html.Partial("ProductSummary", p);
}
<div class="btn-group pull-right">
    @Html.PageLinks(Model.Pageinfo, x => Url.Action("List", new { page = x, Category = Model.Category }))
</div>